@import url("https://fonts.googleapis.com/css?family=Audiowide");
body {
  background-color: #82cfe1;
  font-family: 'Audiowide', cursive; }

.calculator {
  width: 600px;
  border-radius: 10px;
  margin: 0 auto; }
  .calculator .header {
    background-color: #6f778a;
    padding: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .calculator .header .display {
      background-color: #eaecd6;
      border: 10px solid #5a6676;
      text-align: right;
      border-radius: 10px;
      padding: 10px; }
      .calculator .header .display .display-upperline {
        font-size: 1rem;
        height: 21px; }
      .calculator .header .display .display-content {
        font-size: 4rem;
        height: 81px; }
  .calculator .body {
    background-color: #ecf0f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .calculator .body .button {
      display: inline-block;
      font-size: 3rem;
      background-color: #6f778a;
      height: 120px;
      width: 120px;
      margin: 10px;
      border-radius: 10px;
      color: white;
      line-height: 120px;
      text-align: center;
      cursor: pointer; }
    .calculator .body .button:active {
      background-color: black;
      opacity: 0.5;
      box-shadow: 0 3px #666;
      transform: translateY(4px); }
    .calculator .body .button--highlight {
      background-color: #f04635; }
    .calculator .body .button--secondary {
      background-color: #586575; }
    .calculator .body .button--eval {
      background-color: #f04635;
      width: 260px; }
